---
name: CI

on: [ push, pull_request ]

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.26'

      - name: Cache lint dependencies
        id: cache-lint-dependencies
        uses: actions/cache@v4
        with:
          path: bin
          key: ${{ runner.os }}-lint-dependencies-${{ hashFiles('Makefile') }}-${{ hashFiles('.golangci.yml') }}-${{ hashFiles('go.mod') }}

      - name: Install lint dependencies
        if: steps.cache-lint-dependencies.outputs.cache-hit != 'true'
        run: make install

      - name: Build
        run: make build

      - name: Lint
        run: make lint

      - name: Test
        run: make test

      - name: Run coverage
        run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build .
